<ion-header>
  <ion-toolbar>
    <ion-title>create-patient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="formPatient" [errorMessage]="messageError">
      <form [formGroup]="formPatient" >
        <input type="hidden" formControlName="idMed" [ngModel]="medecin.id" />
        <ng-template matStepLabel>Les données personnel du patient</ng-template>


        <div class="example-container">
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-label>Numéro d'identité</mat-label>
            <input matInput placeholder="Numéro d'identité" formControlName="numeroIdentite" type="number" required>
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="hasError('numeroIdentite', 'nIdenTaken')">Numéro d'identité is already exit</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Nom" formControlName="nom" type="text" required>
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-label>Prénom</mat-label>
            <mat-icon matSuffix>person</mat-icon>
            <input matInput placeholder="Prénom" formControlName="prenom" type="text" required>
          </mat-form-field>
        </div>

        <div class="example-container">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="email" formControlName="email" type="email"/>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="hasError('email', 'emailTaken')">email is already exit</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Sexe</mat-label>
            <mat-select placeholder="sexe" formControlName="sexe">
              <mat-option value="Homme">Homme</mat-option>
              <mat-option value="Femme">Femme</mat-option>
            </mat-select>
            <mat-icon matSuffix>wc</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Télephone</mat-label>
            <input matInput placeholder="phone" formControlName="phone" type="tel" pattern="[0]{1}[0-9]{9}" required>
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </div>

        <div class="example-container" >
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Adresse</mat-label>
            <input matInput placeholder="adresse" formControlName="adresse" type="text" required>
            <mat-icon matSuffix>place</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" class="example-full-width ">
            <mat-label>Numéro d'assurance</mat-label>
            <input matInput placeholder="Numéro d'assurance" formControlName="numeroAssurance" type="number" required>
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="hasError('numeroAssurance', 'nAssuTaken')">Numéro d'assurance is already exit</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Date naissance</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateNaissance">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>

        <div>
          <button mat-button matStepperNext class="btn btn-primary">Suivant <i class="ti-arrow-down"></i></button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="formDossier">
      <form [formGroup]="formDossier">
        <ng-template matStepLabel>Le dossier médécal</ng-template>
        <div class="example-container">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Taille</mat-label>
            <input matInput placeholder="taille" formControlName="taille" type="number" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Groupe sanguin</mat-label>
            <mat-select placeholder="Groupe sanguin" formControlName="groupeSanguin">
              <mat-option value="A+">A+</mat-option>
              <mat-option value="A-">A-</mat-option>
              <mat-option value="B+">B+</mat-option>
              <mat-option value="B-">B-</mat-option>
              <mat-option value="AB+">AB+</mat-option>
              <mat-option value="AB-">AB-</mat-option>
              <mat-option value="O+">O+</mat-option>
              <mat-option value="O-">O-</mat-option>
            </mat-select>
            <mat-icon matSuffix>opacity</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Poid</mat-label>
            <input matInput placeholder="poid" formControlName="poid" type="number" required>
          </mat-form-field>
        </div>

        <!--<div formArrayName="antecedentsFamiliaux">
          <h3> <b>Antécédents familiaux</b></h3>
          <div *ngFor="let antecedent of getAntecedents().controls;let i = index">
            <mat-form-field appearance="outline">

              <mat-label>antécédent familial</mat-label>
              <input matInput placeholder="antécédent familial" [formControlName]="i" type="text" >
              <button mat-icon-button matSuffix (click)="removeAntecedent(i)" style="color: red">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <button mat-icon-button matSuffix (click)="addAntecedent()" style="color: #1c7430">
            <mat-icon >add_box</mat-icon>
            <b>Ajouter</b>
          </button>
        </div>-->

        <h3> <b>Antécédents familiaux</b></h3>
        <mat-form-field class="example-chip-list" style="width: 100%">
          <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip *ngFor="let antecedent of getAntecedents().controls;let i = index" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(i)">
              {{antecedent.value}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input matInput placeholder="Nouveau antécédent..."

                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>

        <h3> <b>Maladies</b></h3>
        <mat-form-field class="example-chip-list" style="width: 100%">
          <mat-chip-list #chipList2 aria-label="Fruit selection">
            <mat-chip *ngFor="let maladie of getMaladies().controls;let i = index" [selectable]="selectable"
                      [removable]="removable" (removed)="removeMaladie(i)">
              {{maladie.value}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input matInput placeholder="Nouvelle maladie..."

                   [matChipInputFor]="chipList2"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="addMaladie($event)">
          </mat-chip-list>
        </mat-form-field>


        <h3> <b>Habitudes Toxiques</b></h3>
        <mat-form-field class="example-chip-list" style="width: 100%">
          <mat-chip-list #chipList3 aria-label="Fruit selection">
            <mat-chip *ngFor="let habitude of getHabitudesToxiques().controls;let i = index" [selectable]="selectable"
                      [removable]="removable" (removed)="removeHabitude(i)">
              {{habitude.value}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input matInput placeholder="Nouvelle habitude..."

                   [matChipInputFor]="chipList3"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="addHabitude($event)">
          </mat-chip-list>
        </mat-form-field>

        <div style="margin-top: 10px">
          <button mat-button matStepperPrevious class="btn btn-secondary">Précédent <i class="ti-arrow-up"></i></button>
          <button mat-button matStepperNext class="btn btn-primary">Suivant <i class="ti-arrow-down"></i></button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Ajouter</ng-template>
      <p>Vous avez maintenant terminé.</p>
      <div>
        <button mat-button matStepperPrevious class="btn btn-secondary">Précédent <i class="ti-arrow-up"></i></button>

        <button type="submit" class="btn btn-success" (click)="save()"> <i class="ti-check"></i>Ajouter</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>


</ion-content>
