<ion-header>
  <ion-toolbar>
    <ion-title>Détail device</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dimissModal()" color="primary">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="device">
  <ion-card class="ion-text-center">

    <img src="/assets/images/device.png" width="100">


    <ion-card-header >
      <ion-card-title>{{device.nom}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-list >

        <ion-item lines="full">
          <ion-icon slot="start" name="bookmark"></ion-icon>
          <ion-label>{{device.id}}</ion-label>
        </ion-item>

        <ion-item lines="full" >
          <ion-icon slot="start" name="body"></ion-icon>
          <ion-label>{{device.patient.nom}},{{device.patient.prenom}}</ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-icon slot="start" name="chatbubble"></ion-icon>
          <ion-label>{{device.description}}</ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
