.message{
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}
.other-message{
   background:  #e3e3e3;
   color: #1e1e1e;
}

.my-message{
  background: #bd2130;
  color: white;
}

.time{
   color: grey;
   float: right;
   font-size: small;
}
.message-input{
   width: 100%;
   border: 1px solid var(--ion-color-medium);
   border-radius: 10px;
   background: white;
   resize: none;
   padding-left: 10px;
   padding-right: 10px;
}
.msg-btn{
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}
